.navbar{
    margin-bottom: 0;
    border: 0;
}

.branding__title{
    margin: 0;
    line-height: 50px;
}

.hero{
    height: 350px;
    margin-bottom: 50px;
    position: relative;
}

.hero__heading.h1{
    color: #fff;
    margin-top: 4%;
}

.hero__tagline{
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.container .jumbotron,
.container-fluid .jumbotron{
    height: 100%;    
    background: #fff;
    background-image: url('img/bg-hero.png');
    background-repeat: no-repeat;
    border-radius: 0;
}